node-modules/
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.DS_Store

### Stack
.stack-work/
.stack-work-profile/
.stack-work-production/
cabal.project.local

### Project Specific
release/
InnerEar.db

### IDEA
.idea/
*.iml
