body {
  background-color: black;
  color: hsl(120,100%,80%);
  height: 100%;
  font-family: sans;
  margin: 2%;

}

body.innerEar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flbuw: row wrap;
  flex-flow: column;

}

.header {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  background-color: blue;
}

.login {
  color:  hsl(120,100%,80%);
  text-align: center;
  width: 50%;
  position: relative;

}

.title {
  color:hsl(120,100%,80%);
  font-size: 40px;
  text-align: left;
  width: 25%;
}

.wsStatus {
  color:white;
  text-align: center;
  font-size: 10px;
  width: 25%;
}

.createUserWidget {
  color: white;
  text-align: center;
  margin: 40px;
}

.createUserHandle {
  color: hsl(120,100%,80%);
  text-align: center;
  padding: 20px;

  }

.createUserPassword {
  color: hsl(120,100%,80%);
  text-align: center;
  padding: 20px;
  }


text {
  color: hsl(120,100%,80%);
}

.barWrapper {
}

.nav {
  background: black;
  color:  hsl(120,100%,80%);
  text-align: left;
  margin: 40px;
}

.navButton {
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: 2px;
}

.exerciseConfig {
  background-color: black;
   color: hsl(120,100%,80%);
}

.exerciseQuestion {
  background-color: black;
  color: hsl(120,100%,80%);
}

.exerciseReflection {
  background-color: black;
  color: hsl(120,100%,80%);
}

.createUserFeedBack {
  background-color: black;
  color: hsl(120,100%,80%);
}

button {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  font-size: 100%;


}

.specEvalWrapper {
  display: flex;
}

.answerButtonWrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  text-align: center;
  background-color: red;
  width: 50%;
  height: 100%;
  margin-left:25%;

}

.buttonWrapper {
  display: inline-block;
  text-align: center;
}

button.notPossibleButton{
  border: none;
  background-color: black;
  color: darkgray;
  height: 200px;
  width: 100%;
  margin:  1%;
 font-size: 200%;

}

button.possibleButton {
  height: 200px;
  width: 100%;
  margin:  1%;
    font-size: 200%;

}

button.incorrectDisactivatedButton {
  cursor:not-allowed;
  color: red;
  border-radius: 5px;
  border: 2px solid red;
  height: 200px;
  width: 100%;
  font-size: 200%;

}

button.incorrectActivatedButton {
  color: red;
  border-radius: 5px;
  border: 2px solid red;
  height: 200px;
  width: 100%;
  margin:  1%;
    font-size: 200%;

}

button.correctButton{
  color: green;
  border-radius: 5px;
  border: 4px solid green;
  height: 200px;
  width: 100%;
  margin:  1%;
    font-size: 200%;

}

.svgBarContainer {
  width: 30px;
  background-color: blue;
  margin: 0px;
  position: relative;
  left: 50%;

}

.svgBarContainerFiveBand {
  width: 30px;
  background-color: blue;
  margin: 0px;
  position: relative;
  left: 90%;

}

.faintedLineToAdjustGraph {
   width: 1px;
  height: 220px;
  background-color: #2F4F4F;
  background-color: black;
  position: relative;
  left: 150%;

}

.svgFaintedLine {
  width: 1px;
  height: 5px;
  background-color: #2F4F4F;
  position: relative;
  left: 150%;
 }

.svgFaintedLineFiveBand {
  width: 1px;
  height: 5px;
  background-color: #2F4F4F;
  position: relative;
  left: 100%;
 }

 .faintedXaxis {
   width : 350px;
   height: 1px;
   background-color: #2F4F4F;
   position:relative;
   top: 83%;
   left: 10%;

 }

 .faintedYaxis {
   width : 1px;
   height: 220px;
   background-color: #2F4F4F;
   position: relative;
   top: 6%;
   left: 10%;
 }
 .faintedXaxisFive {
   width : 550px;
   height: 1px;
   background-color: #2F4F4F;
   position: relative;
   right: 0px;
   bottom: 154px;
 }

 .faintedYaxisFiveBand {
   width : 1px;
   height: 220px;
   background-color: #2F4F4F;
   position: relative;
   right: 0px;
   top: 173px;
 }

.bars {
  fill: hsl(120,100%,80%);
  stroke: black;
  stroke-width: 0.5px;
 }

.scoreBarWrapper {
	display: inline-block;
  position: relative;
  right:58%;
  bottom:1%;
}

.scoreBarWrapperFiveBand{
  display: inline-block;
  position: relative;
  bottom: 80px;
}

.scoreLabel {
  background-color: black;
  color: hsl(120,100%,80%);
  font-size: 12px;
  text-align: center;
  position: relative;
  left: 60%;
}

.scoreLabelFiveBand {
  background-color: black;
  color: hsl(120,100%,80%);
  font-size: 12px;
  text-align: center;
  position: relative;
  left: 92%;
  width: 25px;
}


.xLabel {
  color: hsl(120,100%,80%);
  font-size: 90%;
  position: relative;
  text-align: center;
  background-color: black;
  width: 100px;
  top: 10%;
}

.xLabelFiveBand {
  color: hsl(120,100%,80%);
  margin-right: 10%;
  font-size: 10px;
  position: relative;
  left: 150%;
  text-align: center;
}

.countLabel {
  color: hsl(120,100%,80%);
  padding-top: 15px;
  margin-right: 10%;
  font-size: 10px;
  position: relative;
  left: 150%;
  text-align: center;

}

.countLabelFiveBand {

  color: hsl(120,100%,80%);
  padding-top: 15px;
  margin-right: 10%;
  font-size: 12px;
  position: relative;
left: 60%;
    text-align: center;

}
.graphLabel {
  color: hsl(120,100%,80%);
  width: 50%;
  font-size: 15px;
  position: relative;
  right: 40%;
  top: 290px;
  height: 10%;
  text-align: center;
  background-color: black;

}

.graphLabelFiveBand {
  color: hsl(120,100%,80%);
  font-size: 15px;
  position: relative;
  left: 90px;
  bottom: 90px;
  width: 320px;
  height: 20px;
  text-align: center;

}

.countMainLabel {
  font-size: 90%;
  width: 15px;
  height: 10%;
  position: relative;
  top:  90%;
  right: 69%;
}

.countMainLabelFiveBand {
  background-color: black;
  width: 15px;
  height: 10%;
  font-size:  12px;
  position: relative;
  top:  185px;
  left: -25px;
}

.percentageMainLabel {
  height: 10%;
  width: 1%;
  font-size: 90%;
  position: relative;
  right: 72%;
  top:40%;
}

.percentageMainLabelFiveBand {
  background-color: black;
  width: 15px;
  font-size:  12px;
  position: relative;
  right: 300px;
  bottom:250px;
}

.hzMainLabel {
  width: 0%;
  height: 10%;
  font-size: 20%;
  position: relative;
  right: 66%;
  top: 83%;
  background-color: white;

}

.hzMainLabelFiveBand {
  width: 15px;
  font-size:  12px;
  position: relative;

  }

.exerciseWrapper {
   display: inline-block;
   text-align: center;

   width: 100%;
  background-color: yellow;
  height: 100%;
}

.bottomRow{
  display: flex;
      text-align: center;

}

.soundWidget{
  height:100%;
  text-align: left;
}

.playStopButtons{
  width:15%;
  display: inline-block;
}
.playStopButtons button{
  width:100%
}

/* .referenceSoundButton{
  width:100%
}
.questionSoundButton{
  width:100%
}
.stopSoundButton{
  width:100%
} */

.soundSourceDropdown{
  display: inline-block;
  max-width:30%
}

.waveformWidgetInputs{
  width:20%;
  display: inline-block
}

.evaluationInQuestion {
  display: inline-flex;
  background-color: black;
     width: 50%;
}

.userMediaWidgetInQuestion {
    display: inline-flex;
    width: 50%;
}


.waveformWidget{
  display: inline-block;
  width:70%;
}

.sourceWidget{
  width:85%;
  display:inline-block;
}
.nothingSourceWidget{
  width:75%;
  display:none;
}

.startEndNumberInput{
    width: 20px;
}

.waveformCanvas{
  width:100%;
  height: 83px;
  background-color:rgb(50,50,50);
}

.waveformWrapper{
  display: inline-block;
  width:80%;
  height: 100%
}

.faintedLineToAdjustGraphAfterScore {
   width: 1px;
  height: 207px;
  background-color: #2F4F4F;
  background-color: black;
  position: relative;
  left: 100%;
}

.evalGraphFrameRow {
  display: inline-flex;
}
