html{
  height: 100%;
}

body {
  background-color: black;
  color: hsl(120,100%,80%);
  height: 100%;
  font-family: sans;
  margin: 2%;
}

body.innerEar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flbuw: row wrap;
  flex-flow: column;
}

div.innerEar{
  height: 100%;
  min-width: 300px;
  max-width: 1500px;
}

.header {
  display: inline-block;
  width: 100%;
}

.login {
  color:  hsl(120,100%,80%);
  text-align: left;
  width: 100%;

}

.title {
  color:hsl(120,100%,80%);
  font-size: 40px;
  text-align: left;
  width: 25%;
}

.wsStatus {
  color:white;
  text-align: center;
  font-size: 10px;
  width: 25%;
}

.createUserWidget {
  color: white;
  text-align: center;
  margin: 40px;
}

.createUserHandle {
  color: hsl(120,100%,80%);
  text-align: center;
  padding: 20px;

  }

.createUserPassword {
  color: hsl(120,100%,80%);
  text-align: center;
  padding: 20px;
  }


text {
  color: hsl(120,100%,80%);
}


.mainBody {
  height: 90%
}
.nav {
  background: black;
  color:  hsl(120,100%,80%);
  text-align: left;
  margin: 40px;
}

.navButton {
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: 2px;
}

.exerciseConfig {
  background-color: black;
   color: hsl(120,100%,80%);
}

.exerciseQuestion {
  height: 90%;
  background-color: black;
  color: hsl(120,100%,80%);
}

.exerciseReflection {
  background-color: black;
  color: hsl(120,100%,80%);
}

.createUserFeedBack {
  background-color: black;
  color: hsl(120,100%,80%);
}

button {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  font-size: 100%;
}



.buttonWrapper {
  display: inline-block;
  text-align: center;
}



button.notPossibleButton{
  border: none;
  background-color: black;
  color: darkgray;
  height: 100%;
  width: 100%;
  margin:  1%;
  font-size: 100%;
}

button.possibleButton {
  height: 100%;
  width: 100%;
  margin:  1%;
  font-size: 100%;
}

button.incorrectDisactivatedButton {
  cursor:not-allowed;
  color: red;
  border-radius: 5px;
  border: 2px solid red;
  height: 100%;
  width: 100%;
  font-size: 100%;
}

button.incorrectActivatedButton {
  color: red;
  border-radius: 5px;
  border: 2px solid red;
  height: 100%;
  width: 100%;
  margin:  1%;
  font-size: 100%;
}

button.correctButton{
  color: green;
  border-radius: 5px;
  border: 4px solid green;
  height: 100%;
  width: 100%;
  margin:  1%;
  font-size: 100%;
}

.svgBarContainer {
  width: 30%;
    background-color: hsl(120,100%,80%);

}


.bars {
  fill: hsl(120,100%,80%);
  stroke: black;
  stroke-width: 0.5px;
  position: relative;
  right:100%;
 }


.faintedLineToAdjustGraph {
   width: 1px;
  height: 100px;
  position: relative;
  right: 20%;
  top: 11%;

}

.svgFaintedLine {
   width: 1px;
   height: 5px;
   background-color: #2F4F4F;
  position: relative;
  left: 15%;



}

 .faintedXaxis {
    width : 80%;
    height: 1%;
    background-color: #2F4F4F;
   position: relative;
   top: 16.5%;


  }

.faintedYaxis {
    width : 1%;
    height:50%;
    position: relative;
right:80%;
  top:  15%;
}

.scoreLabel {
   color: hsl(120,100%,80%);
   text-align: center;
   font-size: 50%;
 }

.emptyScoreLabel{
  color:transparent;
     font-size: 50%;

}

.xLabel {
   color: hsl(120,100%,80%);
   font-size:50%;
   text-align: center;

}

.countLabel {
  color: hsl(120,100%,80%);
  font-size: 50%;
  text-align: center;
position: relative;
  top:6%;
}


.graphLabel {
   color: hsl(120,100%,80%);
   font-size: 80%;
   height: 10%;
   width: 100%;
    text-align: center;
  position: relative;
  top: 10%;
}


.countMainLabel {
   font-size: 60%;
   width: 15px;
   height: 10%;
   position: relative;
   top: 9%;
  left: 4%;
}

.countMainLabelPrime {
   font-size: 60%;
   width: 15px;
   height: 10%;
   position: relative;
   top: 11%;
  left: 4%;
}


.percentageMainLabel {
   height: 1%;
   width: 1%;
   font-size: 60%;
   position: relative;
   bottom:25%;
   left: 5%;
}


.hzMainLabel {
  width: 15px;
  height: 10%;
  font-size:  50%;
  position: relative;
  left: 4%;
  top: 15%;

}


.exerciseWrapper {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.bottomRow{
  display: flex;
      text-align: center;
  margin-left:auto;
    margin-right:auto;

}


.userMediaWidgetInQuestion {
    display: inline-flex;
    width: 50%;
}


.nextQuestion{
  height: 10%;
}
.nextQuestion button{
  height: 100%;
}


.playReferenceOrQuestion{
  height: 33%;
  width:100%;
}

.soundWidget{
  height:100%;
  width:100%;
}

.playReference {
/*   width:33%; */
/*   height: 100%; */
/*   float: left; */
  /*position: relative;*/
  /*bottom:30%*/
}


.playQuestion {
  width:33%;
  height: 100%;
/*   display: inline-block; */
  float:left;
  text-align: center;
  /*position:relative;*/
  /*bottom:30%;*/
}
.playQuestion button {
  width: 90%;
  height: 40%;
  position: relative;
  bottom:-38%
}









/* Wrapping everything the user uses to select a sound source and load a buffer/loop it etc...*/

/* Just containing the "Sound source:'' label and the dropdown*/
.soundSourceDropdown{

/*   width:100%; */
/*   display: auto */
}
input.soundSourceDropdown{

}

.userMediaWidget{
  height:90%;
  display: auto
}
.userMediaWidgetDisabled{
  height: 80%;
  display: auto;
  opacity: 0.15;
  border-top: 1pt solid black;
}
.browseButton{
  height:20%;
}
.waveformWrapper{
  width:100%;
  height: 50%
}

.waveformCanvas{
  width:100%;
  height: 100%;
  background-color:rgb(50,50,50);
}

.bufferControls{
  display:inline-block;
  height:20%;
}

.bufferControls input {
  width:10px;
}

.specEvalWrapper {
  display:inline-block;
  width:100%;
  height:100%;

}

.evalGraphFrameRow {
  display: inline-flex;
  height: 100%;
  width:50%;
  align-items:flex-end;
}

.scoreBarWrapper {
  display: inline-block;
  position: relative;
  bottom:50%;
  width: 50%;
}

.scoreBarWrapperFiveBand {
  display: inline-block;
  position: relative;
  bottom:49%;
  max-width: 50%;
}

.explanation{
  text-align: justify;
  margin:2%;
}

.topRow {
  width: 100%;
  border-radius: 10px;
  background-color: grey;
  margin-top: 25px;
  margin-bottom: 25px;
}

.middleRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.bottomRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.topRowHeader {
  padding: 10px;
  text-align: left;
}

.questionTitle {
  display: inline;
  width: auto;
}

div.closeExerciseButton {
  margin-left: 20px;
  display: inline;
  width: auto;
}

button.closeExerciseButton {
}

.buttonInterface {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.listenButton {
  flex-grow: 0;
  margin: 0 10px 0 10px;
}

.nextButton {
  flex-grow: 0;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.makeButtonInvisible {
  visibility: hidden;
}

.answerButtonWrapper {
/*   margin-top: 5%; */
/*   margin-bottom: 5%; */
  display: flex;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 20%;
  flex-grow: 1;
}




.evaluation {
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: grey;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.journal {
  margin-left: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: grey;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.journalItem {
}

.journalitem input[type="text"] {
  flex-grow: 1;
}

button.journalitem {
}

.configWidget {
  display: flex;
  justify-content: space-between;
}

.radioConfigWidget {
  width: 45%;
}

.sourceWidget{
  width: 45%;
  padding:2px;
  background-color: rgb(30,30,30);
  text-align: left;
}

.instructionsText {
  text-align: left;
}
