body {
	background-color: black;
	color: hsl(120,100%,80%);
	height: 100%;
	margin: 0;
	font-family: sans;
}

text {
  color: hsl(120,100%,80%);

}

header  {
  wuidth 60%-- the same as


}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  width: 1300px;
  height: 700px;
  background-color: black;
}

.InnearEarHeader {
  background: black;
  color:  hsl(120,100%,80%);
  width: 200px;
  height: 50px;
  margin: 100px;
  font-family: sans;
}

.barWrapper {
  display: inline-block;
}

header {background: black;color:blue;}

body {
  background-color: black;
  color: white;

.nav {
  background: black;
  color:  hsl(120,100%,80%);
  width: 200px;
  height: 100px;
  margin: 10px;
  font-family: sans;
}

.login {
  background: black;
  color:  hsl(120,100%,80%);
  width: 600px;
  height: 50px;
  margin: 100px;
}


button {
  background-color: rgb(128,128,128);
  color: white;
  border: none;
  border-radius: 4px;
}

.text {
  font-size:100%;
  color: white;
}

.svgS {
  width: 30px;
  height: 200px;
  background-color: gray;
}

rect {
  width: 300px;
  height: 300px;
  fill: green;
  stroke-width:5;

}

.test {
  fill: yellow;
  stroke-width:5;
}

.sourceWidget {
  background-color: rgb(100,100,100);
}
