.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  width: 30px;
  height: 200px;
}

.flex-container > *{
  padding: 0px;
  -webkit-flex: 1 100%;
  flex: 1 100%;

}

.barWrapper {
  display: inline-block;
  width: 150px;
}

header {background: black;color:blue;}

body {
  background-color: black;
  color: white;
}

textarea {
	background-color: black;
	color: white;
}


text {
  color: white;
}

button {
  background-color: rgb(128,128,128);
  color: white;
  border: none;
  border-radius: 4px;
}

.text {
  font-size:100%;
  color: white;
}

.svgS {
  width: 30px;
  height: 200px;
  background-color: gray;
}

rect {
  width: 300px;
  height: 300px;
  fill: green;
  stroke-width:5;

}

.test {
  fill: yellow;
  stroke-width:5;
}

.sourceWidget {
  background-color: rgb(100,100,100);
}
